<div class="profile_wrapper">
  <div class="left_side">
    <div class="avatar">
      <%= image_tag @profile.avatar.url(:medium) %>
    </div>
    <div class="edit">
      <p><%= link_to "Настройки", edit_profile_path(current_profile.id) if profile_owner? %></p>
    </div>
  </div>
  <div class="right_side">
    <h1>Страница пользователя <%= @profile.nickname %> <% if profile_owner? %> (Это Вы) <% end %></h1>
    <ul
      <li>
        Skype: <%= @profile.skype %>
    </li>
    <li>
      vk: <%= @profile.vk %>
  </li>
  <li>
    Steam: <%= @profile.steam %>
</li>
    </ul>
  </div>
</div>
