<div class="menu">
  <%= link_to "Главная", root_path %>
  <%= link_to "Главная", root_path %>
  <%= link_to "Главная", root_path %>
  <%= link_to "Главная", root_path %>
  <%= link_to "Главная", root_path %>
</div>
